html, body {
  width: 300px;
}
table, th, td {
  border: 1px solid black;
}
.hidden {
  display: none;
}

.privacy:hover {
  background-color: #CFF2F2;
}

.privacy {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
